<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">



    <listener>
        <listener-class>
            dinnOrder.ContextListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            dinnOrder.SessionListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name> OrderREST </servlet-name>
        <servlet-class>dinnOrder.RESTServlets.OrderREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> MenuREST </servlet-name>
        <servlet-class>dinnOrder.RESTServlets.MenuREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> SessionREST </servlet-name>
        <servlet-class>dinnOrder.RESTServlets.SessionREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> DeleteOrder.do </servlet-name>
        <servlet-class>dinnOrder.servlets.DeleteOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> AlreadyOrdered.do </servlet-name>
        <servlet-class>dinnOrder.servlets.AlreadyOrderedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> SumAjax.do </servlet-name>
        <servlet-class>dinnOrder.ajax.SumAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> Calc_Servlet </servlet-name>
        <servlet-class>dinnOrder.servlets.CalcServlet</servlet-class>
        <init-param>
            <param-name>log4j-properties-location</param-name>
            <param-value>WEB-INF/classes/log4j.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name> Login_servlet </servlet-name>
        <servlet-class>dinnOrder.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> Logout_servlet </servlet-name>
        <servlet-class>dinnOrder.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> Ajax.do </servlet-name>
        <servlet-class>dinnOrder.ajax.Ajax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> UserView.do </servlet-name>
        <servlet-class>dinnOrder.servlets.UserViewServlet</servlet-class>
    </servlet>



    <servlet-mapping>
        <servlet-name> SessionREST </servlet-name>
        <url-pattern>/api/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> OrderREST </servlet-name>
        <url-pattern>/api/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> MenuREST </servlet-name>
        <url-pattern>/api/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> DeleteOrder.do </servlet-name>
        <url-pattern>/DeleteOrder.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> AlreadyOrdered.do </servlet-name>
        <url-pattern>/AlreadyOrdered.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> SumAjax.do </servlet-name>
        <url-pattern>/SumAjax.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> UserView.do </servlet-name>
        <url-pattern>/UserView.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> Calc_Servlet </servlet-name>
        <url-pattern>/Calc.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> Login_servlet </servlet-name>
        <url-pattern>/Authorization.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> Logout_servlet </servlet-name>
        <url-pattern>/Logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> Ajax.do </servlet-name>
        <url-pattern>/Ajax.do</url-pattern>
    </servlet-mapping>
</web-app>